<a href="https://colab.research.google.com/github/swatibhagat0818/exp-1/blob/main/Copy_of_R_Experiment2_writeup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Vectors R Programming**

The simplest and most common data structure in R is the vector. Vectors come in two different flavors: atomic vectors and lists. An atomic vector contains exactly one data type, whereas a list may contain multiple data types.

Atomic vectors include logical, character, integer, and complex. Logical vectors can contain the values TRUE, FALSE, and NA (for 'not available').These values are generated as the result of logical 'conditions'.

Complet following couple of code cell to genearate a logical vector in variable logic_vect

In [3]:
# Create a vector num_vect with values -100, 0.55, 45, 5466
num_vect<-c(-100,0.55,45,5466)
num_vect

[1] -100.00    0.55   45.00 5466.00

In [43]:
#Now, create a variable called logic_vect that gets the result of num_vect <= 0.55, which is read as 'num_vect is less than 0.55'.
logic_vect <- num_vect <= 0.55

If you print logic_vect. you will see that is is a logical vector with 4 values. Print logic_vect in cell below to verify it

In [44]:
#print logic_vect

1.TRUE 
2.TRUE 
3.FALSE 
4.FALSE

In [45]:
#Type num_vect >= 6 and note the output

num_vect >= 6  
1.FALSE 
2.FALSE 
3.TRUE 
4.TRUE

Character vectors

Character vectors are also very common in R. Double quotes are used to distinguish character objects.

In [46]:
# Create a character vector that contains the following words: "My", "name", "is". 
#Remember to enclose each word in its own set of double quotes, 
#so that R knows they are character strings. Store the vector in a variable called char_vect.

char_vect <- c ("My", "name", "is")

In [47]:
# print the char_vect

1.'My'
2.'name'
3'is'

In [77]:
#use paste(char_vect, collapse=" ")

paste(char_vect, collapse=" ")

Explain What difference you see in above two code blocks

 My explaination
 ss
 
 fsdfsd
 fsfd
 fsdf

'My name is'
In the first block, char_vect is a character vector with lenght 3. In the second block, elements of the char_vect are joined together in one continuous character string using paste() function. now in the second box char_vect is a character vector with length 1.

In [68]:
# add your name as an element to char_vect and paste complete sentence saying "My name is <your name>"

In [ ]:
char_vect <- c(char_vect,"Swita")
paste(char_vect, collapse = " ")

'My name is Swita'

In [40]:
#Execute this code block
paste("Hello","World!",collapse=" ")

[1] "Hello World!"

EXPLANATION ; collapse argument with function paste explains that we can join elements of the character vector seperated by single spaces.

Explain output of code block above.

In [41]:
#Execute this 
paste(1:3, c("X", "Y", "Z"), sep = ":")

[1] "1:X" "2:Y" "3:Z"

2 vectors, both of size 3. First has elements (1,2,3) and second ("X","Y","Z").When paste() is used it prints elements of both with its iteration. sep=":" seperates both values with":".

Explain output of above code block

In [42]:
#Executes this LETTERS is 
paste(LETTERS, 1:10, sep = "-")

 [1] "A-1"  "B-2"  "C-3"  "D-4"  "E-5"  "F-6"  "G-7"  "H-8"  "I-9"  "J-10"
[11] "K-1"  "L-2"  "M-3"  "N-4"  "O-5"  "P-6"  "Q-7"  "R-8"  "S-9"  "T-10"
[21] "U-1"  "V-2"  "W-3"  "X-4"  "Y-5"  "Z-6"

Explain output of above code block

Here, character vector LETTERS is longer than numeric vector 1:10. so R simply repeats the 1:10 until it matches length of the character vector.

**Write R code to Solve Following**
1.   To begin with create a vecor **a** of 20 random values from Std Normal Variable.
2.   Creat another vector **b** of 20 NA values. Also create vector x
3.   Sample 20 values from above two vectors. 
4.   Subset  10th to 15th element from x to generate sample y
5.   Count NAs in vector x and y

In [71]:
a <- rnorm(20)
a

 [1]  1.05104814 -1.05406447  1.77098714 -0.47153203  1.57544572 -1.05939971
 [7]  1.54711369  0.77565573 -0.55025892 -0.09863692 -0.70982635 -0.26723104
[13]  0.79809313  0.96333378  1.54014819 -0.41593357  2.08388731  0.67134396
[19] -2.51963405 -0.13404446

1.create another vector b of 20 NA values. also create vector x

In [72]:
b <- rep(NA, 20)
b

 [1] NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA

1.sample 20 values from above two vectors.

In [73]:
x <- c(a,b)
x <- sample(x, 20, replace = FALSE)
x

 [1] -0.09863692          NA          NA -0.47153203          NA          NA
 [7]  1.54014819          NA  1.77098714          NA  1.54711369  0.79809313
[13]          NA          NA -2.51963405 -0.26723104          NA -1.05406447
[19]  0.77565573          NA

1.subset from 10th to 15th element from x to generates sample y

In [74]:
y <- x[10:15]
y

[1]         NA  1.5471137  0.7980931         NA         NA -2.5196341

1.count NAs in vector x and y

In [75]:
sum(is.na(x))
sum(is.na(y))

[1] 10

[1] 3